.accordion-body {
	padding: 0 !important;
	border: solid 0 black !important;
}

.accordion {
	background-color: $project-background !important;
}

.accordion-item {
	background-color: $project-background !important;
	border: solid 0 black !important;
}

.img-allergy {
	height: 100%;
}

.half-card {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-between;
}

.food-image {
	max-width: 8rem;
	margin: auto;
	object-fit: cover;
}

.rating {
	height: 1%;
	width: 5%;
}

.title {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0 !important;
}

.description {
	font-size: 15px;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 0 !important;
}

.price {
	font-size: 20px;
	font-weight: 400;
	margin: 0 !important;
}

.allergy-img {
	height: 20px;
	width: 20px;
}

.order-button {
	height: 4vh;
	width: 4vh;
	border-radius: 5px;
	margin: 0 !important;
}

i {
	height: 2vh;
	width: 2vh;
}

.margin-plus-favicon {
	// margin-left: 1.2vw;
	// margin-bottom: 1vw;
	padding-top: 26%;
	padding-left: 31%;
}

.star-container {
	color: $project-red;
	font-size: 7px;
	text-align: end;
}

.placeholder-top {
	height: 2vh;
	width: 100%;
}

.product-title {
	color: rgba(79, 79, 79, 1);
}
